add_feed_template||
  <div style="width:100%;text-align:center;">
	You have created an RSS feed.  Please click the 'Subscribe' link to add the feed to your RSS reader.
	<br />
	<br />
	<a href="||wwwroot||/scripts/rss/rss.php?rssid=||rssid||&key=||userkey||">
		<img src="||wwwroot||/images/small_rss.png" alt="RSS Feed" /> Subscribe
	</a>
  </div>
||add_feed_template
