<div style="font-size:12px;">
	<br />
	<p style="text-align:left;width:100%;line-height:1.5em;">
		I herewith authorize Camp Wabashi staff at the Wabash
		Valley Christian Youth Camp to request and consent in writing or
		otherwise as requested by Union Hospital, Inc. and/or any other
		medical facility to any and all examinations, medical treatment
		and/or procedures to or for the above named minor, either on or
		off the premises of medical facility, as deemed advisable or appropriate
		by any physician or surgeon licensed to practice medicine in the
		State of Indiana. I understand that verbal concent will be sought using
		the phone numbers listed in this application.<br />
		<br />
		In consideration of the acceptance of the above named camper, I
		covenant and agree with Wabash Valley Christian Youth Camp, that
		I will at all times hereafter indemnify, and save harmless the said
		Wabash Valley Christian Youth Camp from all actions, proceedings,
		claims, demands, costs, damages and expenses which may be brought
		against, or claimed from Wabash Valley Christian Youth Camp, or
		which it may pay, sustain, or incur as a result of illness, accident,
		or misadventure to the above named camper during the period said
		camper is a participant in the Wabash Valley Christian Youth Camp.<br />
		<br />
		This authorization constitutes a Power of Attorney and waiver of
		liability appointing the above named adult or staff of Wabash Valley
		Christian Youth Camp as Attorney-In-Fact to sign said requests and
		as fully thought I, myself, did so.
  </p>
</div>