:not(ul, ol) {
    padding: 0;
    margin: 0
}

.svg-inline--fa {
    color: #606060;
}

span.fa-stack {
    display: inline-grid !important;
    height: auto;
    width: auto;
    line-height: normal;
}

a svg.svg-inline--fa:hover,
button svg.svg-inline--fa:hover {
    color: #7a7a7a;
}

a svg.svg-inline--fa:active,
button svg.svg-inline--fa:active {
    color: #5f5f5f;
}

svg.dropshadow {
    filter: drop-shadow(1px 2px 2px black);
}

div#ajax_error_display.visible {
    display: flex;
    position: fixed;
}

div#ajax_error_display {
    display: none;
    position: fixed;
    z-index: 999999;
    width: 34%;
    margin: 0 31% 0;
    background: red;
    font-weight: 700;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    align-content: center;
    flex-direction: column;
    border-bottom: 3px solid black;
    text-shadow: 1px -1px 4px #4a4a4a;
    padding: 1%;
}

a, .alike {
    text-decoration: none;
    cursor: pointer;
    color: #2900cf;
}

a:hover, .alike:hover {
    text-decoration: none;
    color: #026572;
}

a img, .alike img {
    border: none;
}

fieldset {
    border: 0
}

html,
body {
}

body {
    font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
    font-size: .8em;
    overflow: auto
}

p {
    margin: 0 0 1em 0
}

#alerts_link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.alerttitle {
    font-size: 1.1em;
    font-weight: bold;
}

.alertgroup {
    margin-bottom: 30px;
}

#user_alerts_div .alertrows:nth-child(even) {
    background-color: #ebebeb;
}

#user_alerts_div .alertrows:nth-child(odd) {
    background-color: #f5f5f5;
}

.alertrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.alertrows:hover {
    filter: brightness(.95);
}

.alertrows button.alike,
.alertrows a {
    padding: 0 5px;
}

div.searchresultsnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.searchresultsnav span {
    text-align: center;
    color: green;
}

table.searchresultsnav {
    color: green;
}

table.searchresults, table.searchresultsnav {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

table.searchresults td {
    padding: 5px 2px;
    border-top: 1px solid #f5f5f5;
}

table.searchresults th {
    padding: 5px;
    background: #e9e9e9;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

table.searchresults tr:nth-child(odd) {
    background-color: #f3f3f3;
}

table.searchresults tr:nth-child(even) {
    background-color: #fff;
}

table.searchresults tr:hover {
    background-color: #ededed;
}

.staff_status_alert {
    font-size: .9em;
    color: red;
    font-weight: bold;
}

.staff_status_approved {
    color: green;
    font-weight: bold;
}

.calendarpopup {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border:1px solid dimgray;
}

.calendarpop td.calendarpopupday {
    color: black;
    background-color: white;
}

.calendarpop td.calendarpopuppicked {
    color: black;
    background-color: white;
}

.calendarpop td.calendarpopuptoday {
    color: white;
    font-weight: bold;
    border: 1px solid darkred;
    padding: 0px;
    background-color: lightgrey;
}

.adminpanel_links {
    display: flex;
    padding: 5px;
    justify-content: left;
    align-items: center;
}

.html_notfullscreen {
    text-align: right
}

.html_fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vmax;
    z-index: 100;
    margin: 0;
    padding: 20px;
    background: inherit;
    background-color: #fff;
    overflow: visible !important
}

.html_editor_save {
    position: absolute;
    z-index: 99999;
    right: 10px;
    top: 5px;
}

.area_side .html_comments_area {
    font-size: .85em;
}

.html_makecomment {
    float: left;
}

.html_comment_form {
    padding: 10px;
}

.html_comment_form .title {
    padding-bottom: 10px;
}

.html_replytocomment {
    padding: 5px 0px 20px 0px;
    background: #f3f3f3;
    border-radius: 10px 10px 0px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.html_commentinput {
    padding-bottom: 10px;
}

.donation_table {
    width:100%;
    border-collapse: collapse;
}

.donation_table td {
    padding: 5px;
}

.donation_table th {
    padding: 5px;
}

.donation_table tr:not(:first-child):hover {
    background-color: #e7e7e7 !important;
}

.donation_table tr:nth-child(even) {
    background-color: #f3f3f3;
}

.donation_table tr:nth-child(odd) {
    background-color: #fff;
}

.fs_icon {
    background: url('../images/fullscreen.png');
    height: 20px;
    width: 20px
}

.fs_icon_on {
    background: url('../images/fullscreen_off.png')
}

.themeinput {
    margin: 0
}

.content_links {
    color: brown;
    text-decoration: none
}

.content_links:hover {
    color: #ff0;
    text-decoration: underline;
    cursor: pointer
}

.profile_links {
    color: green;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.profile_links #alerts_span {
    margin-left: 3px;
    color: white;
}

.profile_links #alerts_link {
    background: red;
    padding: 5px 10px;
    margin: 4px 0;
    border-radius: 10px;
}

.profile_links:hover {
    color: red;
    text-decoration: none;
    cursor: pointer
}

.imgandlink {
    display: inline-block;
    height: 16px;
    vertical-align: top;
    padding: 3px
}

.error_text {
    font-size: .95em;
    color: darkred;
    text-align: center;
    vertical-align: bottom
}

.debugging {
    background: red;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    white-space: normal;
}

.heading2 {
    font-size: 5em;
    font-weight: 700
}

h1 {
    font-size: 2em
}

.formContainer {
    border: none;
    padding: 5px
}

.rowContainer {
    margin: 10px 0px 5px 0px;
    width: 100%;
    clear: both
}

.rowContainer label {
    color: #758656;
    font-weight: 700
}

.rowContainer .rowTitle {
    display: block;
    width: 100% !important;
    margin-bottom: 5px
}

.rowContainer label.short {
    width: 60px
}

.rowContainer label.sublabel {
    float: left;
    color: #000;
    font-size: .9em
}

.rowContainer input {
    display: block;
}

.rowContainer textarea {
    width: 98%;
}

.rowContainer input.short {
    width: 100px
}

.rowContainer select {
    width: 220px;
    display: block;
}

.rowContainer input.nofloat {
    float: none
}

.rowContainer input.nowidth {
    width: 10px
}

input.error {
    border: 1px solid red
}

label.error {
    font-size: .85em;
    line-height: 1.5em;
    height: 16px;
    float: left;
    background: url('../images/error.png') no-repeat;
    padding-left: 20px;
    margin: 2px 4px;
    white-space: nowrap;
    width: 75%
}

label.errorshort {
    font-size: .85em;
    line-height: 1.5em;
    height: 16px;
    float: left;
    background: url('../styles/images/error.png') no-repeat;
    padding-left: 20px;
    margin-left: 4px;
    white-space: nowrap;
    width: 140px
}

label.valid {
    float: left;
    background: url('../styles/images/checked.png') no-repeat;
    display: block;
    margin-top: 3px;
    width: 16px;
    padding-left: 10px;
    height: 16px;
    margin-left: -16px
}

.tooltipContainer {
    font-size: .85em;
    line-height: 1.5em;
    color: #666;
    visibility: hidden;
    float: none;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 20px 0 0;
    white-space: normal
}

.info {
    float: left;
    background-image: url('../styles/images/info.png');
    margin: 2px 4px;
    padding-left: 20px;
    width: initial
}

.infoshort {
    float: left;
    background-image: url('../styles/images/info.png');
    margin-left: 4px;
    padding-left: 20px;
    width: 140px
}

.rowContainer label :not(.valid) {
    width: 16px
}

.phone1 {
    margin-right: 10px;
}

.phone2 {
    margin-right: 10px;
    margin-left: 10px;
}

.phone3 {
    margin-left: 10px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#loading_overlay, .loading_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 50vh;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    opacity: 0.6;
}

#loading_overlay img, .loading_overlay img {
    display: inline-block;
    vertical-align: middle;
}

span.centered_span {
    display: block;
    width: 100%;
    text-align: center
}

td.news_col1 {
    vertical-align: top
}

td.news_col2 {
    vertical-align: top
}

div.full_news_link {
    float: right
}

div.news_item {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    float: left;
    width: 10.5em;
    height: 10em;
    margin: 3px
}

div.full_news_link a {
    font-size: .9em;
    color: #fff;
    text-decoration: none
}

div.full_news_link a:hover {
    cursor: pointer;
    color: #ff0;
    text-decoration: none
}

img.sitenews {
    width: 22em
}

.eventstable {
    width: 100%;
    padding-bottom: 0px
}

.events_reginfoblock {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.events_reginfoblock.event_buttons {
    width: 50px;
}

.events_alert {
    font-weight: bolder;
    font-size: 1.2em;
    color: green
}

.events_limit_alert {
    font-weight: bolder;
    font-size: 1.2em;
    color: red
}

.event_title {
    font-size: .95em;
    float: left;
    padding-right: 10px
}

.event_info_box {
    vertical-align: middle;
    color: gray;
}

.event_info {
    font-size: .85em;
    display: inline-block;
}

#event_menu {
    display: inline-block;
    width: 180px;
    border: 1px solid grey;
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    background-color: whitesmoke;
    white-space: nowrap;
    position: absolute;
}

#event_menu li * {
    vertical-align: middle;
}

#event_menu li i {
    padding-right: 5px;
}

#event_menu li {
    padding: 5px;
}

#event_menu li:hover {
    background-color: silver;
}

.eventslist_container {
    padding: 5px 0px;
}

.area_side .eventslist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventslist span {
    display: inline-flex;
    align-items: center;
}

.eventslist_container .extrainfo {
    color:gray;
    font-size:.75em;
}

.eventslist span svg{
    padding: 0 5px;
}

.eventtype {
    margin-bottom: 15px;
}

.eventtype_title {
    font-weight: bolder;
}

.eventtype_list {
    background-color:#edfafa;
    white-space:nowrap
}

.staff_application_link,
.request_event_link {
    text-align: right;
}

.area_side .staff_application_link,
.area_side .request_event_link {
    font-size: 0.8em;
}

.request_questions {
    background-color:rgb(127, 235, 199);
    padding: 4px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.request_answers {
    background-color:#feffaf;
    padding: 8px;
}

.request_answers.none {
    background-color:rgb(196, 255, 255);
    padding: 4px;
    text-align: center;
    color: grey;
}

div.html_template {
    width: 500px
}

.html_mini {
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #fbfbfb;
    border-radius: 15px;
    padding: 15px;
    line-height: 2em;
}

.html_title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.html_text {
    padding: 0;
}

.area_middle .htmlblock {
    display: inline;
}

.area_middle .html_comment_button_box {
    float: left;
}

.area_side .html_comment_button_box {
    text-align: center;
}

.area_middle .html_comments_area {
    margin: auto;
    width: 40%;
}

.area_middle .html_comment_button {
    position: relative;
    left: -10px;
    padding: 10px 5px 10px 0;
    border: 2px solid black;
    border-radius: 0 8px 8px 0;
    background-color: #efefef;
}

.html_comments {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.html_comment {
    text-align: right;
    padding: 10px 20px 5px 20px;
    margin-top: 5px;
    background: #f3f3f3;
    border-radius: 10px 10px 0px;
}

.html_comment.childcomment {
    margin-left: 30px;
}

.comment_user {
    font-weight: bold;
}

.comment_time {
    font-style: italic;
    font-size: .8em;
}

.comment_message {
    display: block;
    text-align: left;
    font-style: italic;
    margin: 0px 0px 15px 0px;
}

.comment_buttons, .comment_byline {
    display: flex;
    justify-content: space-between;
}

.comment_editlink a, .comment_replylink a, .comment_deletelink a {
    text-decoration: none
}

table.roles_table {
    margin-right: auto;
    width: 100%;
    border-spacing: 0px;
    border-style: none;
    border-collapse: collapse;
}

tr.roles_header {
    background-color: #5f9ea0;
    color: #fff
}

.roles_table td {
    padding: 2px
}

tr.roles_row1 {
    background-color: azure
}

tr.roles_row2 {
    background-color: #7fffd4
}

div.login_box {
    vertical-align: top;
    margin-left: 2px;
}

.login_box .logout_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

td.field_title {
    font-size: .95em;
    text-align: right;
    vertical-align: middle;
}

.sub_field_title {
    font-size: .95em;
    text-align: right;
    vertical-align: middle;
    background-color: buttonface;
    padding: 0px 12px;
    border-radius: 12px;
}

td.field_input {
    text-align: left;
    white-space: nowrap;
    font-size: 0.95em;
    padding: 0px 10px;
}

table.login_table {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: .95em
}

span.pagename_header {
    display: block;
    width: 20em;
    padding: 5px;
    text-align: center;
    font-size: .98em
}

div.pagelinklist {
}

div.pagelink {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

div.pagelinklist div:nth-child(even) {
    background-color: #f0f0f0;
}

div.pagelinklist div:nth-child(odd) {
    background-color: #e0e0e0;
}

div.pagelinklist div.sortpagelinkitem {
    padding: 10px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.sortpagelinkitem span.pagelink_count {
    color: #fff;
    width: 15px;
    background-color: gray;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

div.pagelinklist div:nth-child(even):hover,
div.pagelinklist div:nth-child(odd):hover {
    background-color: #ffffff9c;
}

a.header_links {
    color: green;
    text-decoration: none
}

a.header_links:hover {
    color: red;
    text-decoration: underline
}

.view-container-border {
    background-color: #fff
}

.smallTablesInFirefox {
    width: 525px
}

.mainTable {
    background-color: #e1e1e1;
    border: 1px solid #999;
    width: 175px
}

.calendar_table {
    background-color: #e1e1e1;
    border: 1px solid #999;
    width: 100%;
    border-collapse: collapse;
}

.calendar_month_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar_table td {
    width: calc(100% / 7);
}

.area_side .calendar_table td {
    padding: 2% 1%;
    font-size: 12px;
}

.area_middle .calendar_table td {
    border: 2px solid #ffffff4d;
    font-size: 1vw;
}

.calendar_month {
    text-align: center;
    background-color: #d5d5d5;
    vertical-align: middle;
    font-size: 14px !important;
    line-height: 15px;
    font-weight: Bold;
    color: #252216;
    padding: 12px !important;
}

.area_middle .calendar_month {
    background-color: #d5d5d5;
    vertical-align: middle;
    font-size: 2vw !important;
    font-weight: Bold;
    color: #252216;
    padding: 20px !important;
}

@media screen and (min-width: 1200px) {
    .area_middle .calendar_month {
        font-size: 1.75vw;
    }
}

.calendar_month a:hover {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.calendar_month a:link,
.calendar_month a:visited {
    text-decoration: none;
    color: #252216
}

.calendar_change_month {
    width: 40px;
    font-size: 20px;
}

.area_middle .calendar_day_label {
    background: #ffffff8a;
    padding: 3px;
    margin: 0 1em 1em 0;
    text-align: center;
    display: inline-flex;
    align-items: center;
    width: 15%;
    font-size: 1.1em;
    justify-content: center;
}

.calendar_day_names {
    color: #333;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

.calendar_day_names td {
    width: calc(100% / 7);
}

.area_middle .calendar_day_names td {
    padding: 10px;
}

.area_side .calendar_today_label {
    display: none;
}

.calendar_today_label {
    float: right;
    font-size: .8em;
    padding: 2px 5px;
}

.area_side .calendar_event_label {
    display: none;
}

.area_middle .calendar_event_label {
    display: block;
    padding: 0 10px 10px 10px;
    font-size: .8em;
}

.calendar_week {
    font-size: 10px;
    color: #433d27;
    line-height: 15pt;
    text-align: center;
    vertical-align: middle
}

.area_middle .calendar_week {
    font-size: .8em;
    color: #433d27;
    height: 52pt;
    vertical-align: top;
    text-align: left;
}

.calendar_week td:empty {
    background-color: #EEEEEE !important;
    color: #666666 !important;
}

.calendar_week td:not(:empty):hover {
    background-color: #817e7e59 !important;
    color: #212121 !important;
}

.calendar_week td:first-child,
.calendar_week td:last-child {
    background-color: #EEEEEE;
    color: #666666;
}

.calendar_week td:not(:first-child):not(:last-child) {
    background-color: #CCCCCC;
    color: #333333;
}

.calendar_today {
    background-color: #FFC18A;
    color: #CF0000;
}

.col1 div#day_info {
    font-size: .9vw;
}

.col2 div#day_info {
    font-size: 1em;
}

.sOther {
    background-color: #eee;
    font-size: 10px;
    color: #bbb
}

.categoryDiv {
    background-color: #fcf5ef;
    padding: 4px;
    border: 1px solid #eaeaea;
    border-bottom: 0 solid #eaeaea
}

.categoryName {
    font-size: 9px;
    font-weight: 700;
    color: #666
}

.categorySelection {
    font-size: 9px;
    font-weight: 400;
    color: #777
}

.popupEventTitle {
    background-color: #cff;
    font-weight: 700;
    padding: 10px;
    border: 1px solid #ccc;
}

.popupEventDescription {
    font-size: 1em;
    line-height: 1.3em;
    color: #000;
    font-weight: 400;
    background-color: #fff;
    padding: 12px
}

div.footer-text {
    width: 80%;
    text-align: center;
    font-size: .75em;
    margin-left: auto;
    margin-right: auto
}

.colmask {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 5px
}

.colleft,
.colmid,
.colright {
    float: left;
    position: relative;
    width: 100%
}

.col1,
.col2,
.col3 {
    float: right;
    padding: 0 2px 0;
    position: relative
}

.rightmenu .colleft {
    right: 25.5%
}

.rightmenu .col1 {
    left: 25.5%;
    width: 76.3%;
    min-height: 40px;
}

.rightmenu .col2 {
    left: 25.5%;
    width: 22.5%;
    min-height: 40px;
    min-width: 200px
}

.logo_nav {
    position: relative
}

div.box_title {
    display: inline-flex;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    margin: 0;
    font-weight: 700;
    border: none;
    padding: 0 0 0 1%;
    max-width: calc(100% - 30px);
}

span.box_title_text {
    padding-left: 4px;
    display: inline-block;
}

.pagename_box {
    padding: 2px 0 2px 4px;
    font-weight: 700
}

span.pagerole {
    font-size: .9em;
    padding: 5px;
    background: cadetblue;
    color: white;
    border-radius: 5px;
}

.box_header {
    min-height: 24px;
    padding: 2px 0 2px 0
}

div.box_content {
    padding: 8px 8px 10px 8px;
    overflow: hidden;
    margin-top: 0;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    -khtml-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px
}

.container_head {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #fcd163;
    z-index: -1;
    padding: 10px 0 10px 10px;
}

.slide_menu_tab svg {
    color: inherit;
    filter: brightness(150%);
    font-weight: 600;
}

.slide_menu_tab svg:hover {
    filter: brightness(130%);
}

.slide_menu_tab svg:active {
    filter: brightness(100%);
}

.slide_menu_button svg {
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 700;
}

.slide_menu_button svg:hover,
a svg:hover,
button svg:hover {
    filter: brightness(120%);
}

.disabled svg {
    color: grey;
}

.disabled svg:hover {
    filter: brightness(100%);
    color: grey;
}

.slide_menu_button svg:active {
    filter: brightness(50%);
}

.slide_menu_wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    z-index: 999999999;
    float: right;
    flex-direction: row-reverse;
}

.slide_menu {
    position: relative;
    z-index: 2;
    float: right;
    background-color: #b3b3b3;
    height: 24px;
}

.slide_button_wrap {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.slide_button_wrap .dynamicbuttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slide_button_wrap:last-child {
    padding-right: 5px;
}

.slide_button_wrap:first-child {
    padding-left: 5px;
}

.slide_menu_tab {
    caret-color: transparent;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    text-align: center;
    -moz-border-radius: 5px 0px 0px 15px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 15px;
    border-radius: 5px 0px 0px 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_menu_visible {
    display: inline-block !important
}

.slide_menu_invisible {
    display: none
}

.slide_menu a.slide_menu_button, .slide_menu button.slide_menu_button {
    line-height: 0;
    padding: 0px 8px;
}

.drop_zone {
    padding: 4px;
    display: none
}

.inner_drop_zone {
    border: 2px dotted red;
    height: 25px;
    margin: 4px 0 4px 0
}

.portable_box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted #00f;
    height: 100px !important;
    width: 100px !important;
}

.hint {
    display: none;
    position: absolute;
    font-size: .8em;
    margin-top: 0px;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    white-space: normal;
    background-color: #eee;
}

.hint .hint-pointer:before {
    display: none;
    content: '\f053';
    font: var(--fa-font-solid);
}

.hint .hint-pointer {
    position: absolute;
    left: -8px;
    top: 7px;
}

.hint .hint-pointer svg {
    font-size: 14px;
    color: #ccc;
}

table.pics {
    width: 100%;
    border-style: none;
    border-collapse: collapse
}

tr.pics {
    background-color: #f0f0f0;
    white-space: nowrap
}

tr.pics td {
    background-color: #f0f0f0;
    height: 3.5em;
    white-space: nowrap;
    padding: 2px 2px 2px 20px
}

tr.pics td:hover {
    background-color: #ffc
}

tr.pics_title {
    white-space: nowrap;
    background-color: #e2e2e2
}

tr.pics_title td {
    height: 1.5em;
    white-space: nowrap;
    vertical-align: middle
}

div.wrap {
    display: table
}

div.col {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px
}

tr.pics_title td:hover {
    background-color: #ffc
}

.pics_gallery_middle img {
    width: 100%;
    height: auto;
}

#pics_manager {
    width: 500px;
}

.pics_manager_siteviewable,
.pics_manager_movepics {
    font-size: .85em;
    padding: 5px 0;
}

.pics_manager_caption {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
    font-size: .85em;
}

.pics_manager_siteviewable,
.pics_manager_movepics {
    display: inline-block;
    padding: 5px;
}

.pics_manager_pic {
    width:165px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.pics_manager_piccaption {
    font-size: 11px;
    margin: 0;
    padding: 3px;
    height: 120px;
    width: calc(100% - 50px);
    vertical-align: middle;
}

.pics_active {
    background-color:#FFFF66;
}

.pics_activation_status {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shadetabs {
    padding: 3px 0;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
    font: bold 12px Verdana;
    list-style-type: none;
    text-align: left
}

.shadetabs li a {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 135px;
    display: inline-block;
    vertical-align: bottom;
    background: #e5e5e5;
    border-radius: 10px 10px 0 0;
}

.shadetabs li a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.shadetabs li {
    display: inline;
    margin: 0;
}

.shadetabs li a:visited {
    color: #2d2b2b
}

.shadetabs li a:hover {
    background: #4444446b;
}

.shadetabs li a.notselected {
    position: relative;
    top: 5px;
    border-bottom: 1px solid #778;
    padding-bottom: 0px
}

.shadetabs li a.selected {
    position: relative;
    top: 0px;
    padding-bottom: 3px;
    box-shadow: 0em 4px 0px 0px #444444;
    background: silver;
}

.shadetabs li a.selected:hover {
    text-decoration: none;
}

.carousel-cell {
    width: 100%;
    height: 400px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center
}

.carouselslides {
    max-width: 100%;
    width: 100vw;
    min-height: 400px;
    height: auto
}

.carouselquotes {
    width: 90%;
    bottom: 20px;
    right: 10px;
    position: absolute;
    text-align: right;
    color: #f5f5f5;
    font-size: 1.5em;
    text-shadow: 2px 3px 5px #000
}

.logo_nav #carousel {
    clear: both;
    border: 2px solid #000;
    max-height: 400px;
    overflow: hidden
}

.logo_nav .nav_header {
    background: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center
}

.logo_nav #logo_div {
    text-align: center;
    padding: 20px
}

.logo_nav #logo_div a {
    display: inline-block;
    vertical-align: middle
}

.logo_nav #logo {
    float: none;
    max-height: 100px;
    display: block;
    max-width: 85vw;
    font-size: 7vw;
    font-weight: 700
}

.logo_nav #logosmall {
    float: none;
    display: none;
    max-height: 200px
}

.logo_nav .nav {
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
    display: inline-block
}

.logo_nav .navtabs li {
    display: initial;
    margin: 4px 2px 0px 2px;
    padding: 0;
}

.logo_nav #menu-icon {
    width: 40px;
    height: 40px;
    display: none
}

.logo_nav ul {
    list-style: none;
    margin: 0
}

.logo_nav li {
    float: left;
    padding: 5px;
}

.logo_nav .navtabs li div:hover {
    background-color: #2f4f4f
}

.logo_nav li div {
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.logo_nav li {
    color: #fff;
    display: block;
    min-width: 8rem;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: .5s
}

.logo_nav .dropdown {
    z-index: 100;
}

.logo_nav li a {
    color: #fff
}

.logo_nav li:focus-within,
.logo_nav li:hover {
    cursor: pointer
}

.logo_nav li:focus-within a {
    outline: 0
}

.logo_nav ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    display: none;
    white-space: nowrap;
}

.logo_nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block
}

.logo_nav ul li.sfhover>ul {
    visibility: visible;
    opacity: 1;
    display: block
}

.logo_nav ul li.sfclick > div {
    background-color: rgb(163, 0, 0);
}

.logo_nav ul li.sfclick > div:hover {
    background-color: rgb(102, 2, 2);
}

.logo_nav ul li.sfclick ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

.logo_nav ul li ul li {
    clear: both;
    width: 100%
}

.navtabs a {
    padding: 0;
    color: #fff;
}

.navtabs a.parent {
    display: inline-block;
    white-space: nowrap;
}

.navtabs a.parentarrow {
    display: inline-block;
    max-width: 40px;
    padding: 0 5px;
    width: 10%;
}

ul#pagenavchild  {
    position: absolute;
}

#pagenavchild li {
    margin: 0;
    padding: 0;
    padding-top: 2px;
}

#pagenavchild li div {
    filter: brightness(125%);
}

.navtabs a.selected {
    border-top: 5px solid #ffffff4f;
}

.forum_breadcrumb {
    font-weight: 700;
    color: #069;
    padding: 10px;
    display: inline-block;
}

.forum_inline_buttons, .forum_discussions_buttons, .forum_bulletins_buttons {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
}

.forum_inline_buttons *, .forum_discussions_buttons *, .forum_bulletins_buttons * {
    display: inline-block;
}

.forum_newbutton {
    float: right;
    margin: 10px;
}

.forum_quote {
    background: #e0e0e0 none repeat scroll 0;
    border: 1px solid #aaa;
    margin: 4px 6px;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    text-align: left;
}

.forum_bulletins_header tr:nth-child(even) td {
    background-color: rgb(255, 255, 255);
}

.forum_bulletins_header tr:nth-child(odd) td {
    background-color: rgb(241, 241, 241);
}

.forum_discussion {
    width: 100%;
    border-collapse: collapse;
}

.forum_discussions_header, .forum_bulletins_header, .forum_category {
    width: 100%;
    border-collapse: collapse;
    background-color: #e5e5e5;
}

.forum_headers {
    padding: 10px;
    background-color: #069;
    color: #fff;
    font-weight: 700
}

.forum_author {
    padding: 5px 5px 5px 10px;
    text-align: left;
    background-color: #efefef;
    font-size: .85em;
    color: #069;
    vertical-align: top;
    font-weight: 700;
    border-bottom: 3px solid #ccc;
    border-right: 1px solid #ccc
}

.forum_message {
    padding: 5px 5px 5px 10px;
    background-color: #fff;
    color: #000;
    text-align: left;
    border-bottom: 3px solid #ccc;
}

.forum_discussions, .forum_bulletins {
    color: #000;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
}

.forum_category td, .forum_category th,
.forum_discussions_header td, .forum_discussions_header th,
.forum_bulletins_header td, .forum_bulletins_header th {
    padding: 15px;
}

.forum_category tr:has(td):hover,
.forum_discussions_header tr:has(td):hover,
.forum_bulletins_header tr:has(td):hover{
    filter: brightness(.94);
}

.forum_category tr:nth-child(even) td,
.forum_discussions_header tr:nth-child(even) td {
    background: #e5e5e5;
}

.forum_category tr:nth-child(odd) td,
.forum_discussions_header tr:nth-child(odd) td{
    background: #dddcdc;
}

.forum_notviewed *{
    font-weight: 700;
}

.forum_col1 {
    font-weight: 700;
}

.forum_col1, .forum_col1_viewed {
    background-color: #efefef;
    color: #069;
    display: flex;
    justify-content: space-between;
    font-weight: initial;
}

.forum_postscol {
    background-color: #dee3e7;
    color: #000;
    text-align: center;
}

.forum_postedcol {
    background-color: #dee3e7;
    color: #000;
    font-size: 1em;
    text-align: center;
}

.forum_viewscol {
    background-color: #d1d7dc;
    color: #000;
    text-align: center;
}

.forum_page_links {
    font-size: .9em;
    display: inline;
    background: #00669954;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 10px;
    color: #262626;
}

.forum_page_links button.disabled {
    color: grey;
    cursor: initial;
}

.forum_page_links button.pagelistbutton {
    padding: 0px 2px;
}

.forum_posts_lastrow {
    text-align: center;
    padding: 10px;
}

.forum_post_actions {
    font-size: .95em;
    padding: 2px 15px;
}

.forum_post_message {
    padding: 10px;
    margin: 5px 0px;
}

.shoutbox {
    background-color: #e5e5e5;
    text-align: center;
    border-spacing: 0px;
    width: 100%
}

.shoutbox_tabcenter {
    position: relative;
    top: -1px;
    width: 100px;
    height: 18px;
    margin-bottom: 25px;
}

.shoutbox_editorpane {
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    width: 99%;
    line-height: 0;
    font-size: 1px;
    overflow: hidden;
    border-collapse: collapse
}

.shoutbox_editortext {
    font-size: .8em
}

.tinyMCE_toomany {
    font-weight: 700;
    padding: 10px;
    color: red;
}

.shoutbox_tabtext {
    display: inline-block;
    height: 20px;
    width: 100px;
    background: white;
    color: #000;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.shoutbox_tabtext:hover {
    cursor: pointer;
    background: #b9b8b8;
}

.shoutbox_tabtext a {
    display: block;
    height: 20px;
}

.shoutbox_post {
    font-size: .9em;
    padding: 3px;
    color: #01567d;
    text-align: left
}

.shoutbox_post_content {
    margin: 5px;
    background: white;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
}

.shoutbox_post_content .post_by {
    text-align: right;
    color: #7e7e7e;
}

.shoutbox_post_content .post_message {
    padding: 2px 2px 10px 2px;
}

*span.pagename_header {
    width: 21em
}

*td.page_contents_middle {
    overflow: hidden;
    max-width: 53em
}

*td.page_contents_side {
    width: 21em
}

*table.box_title_table tr {
    border-style: none;
    padding: 0;
    margin: 0
}

*td.box_title_td2 {
    float: none;
    margin: 1px 1px 1px 1px;
    height: 1em;
    border-style: none;
    border-right-style: none;
    padding: 0
}

*table.modify_tab_table {
    font-size: .01em
}

*span.modify_tab td {
    height: 1em;
    white-space: nowrap;
    padding-bottom: 0px;
    vertical-align: top;
    border-style: none
}

*span.modify_tab {
    position: relative;
    right: -2px;
    vertical-align: top;
    line-height: 0
}

*td.modify_menu_tab {
    position: relative;
    right: -2px;
    background: #8f8f8f
}

.newstable .container_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.newstable .dategraphic {
    vertical-align: top;
    display: inline-block;
    width: 110px;
}

.newstable .dategraphic span:first-child {
    vertical-align: top;
}

.area_middle .newstable .article {
    width: calc(100% - 125px);
    display: inline-block;
    margin-bottom: 15px;
}

.area_side .newstable .article {
    width: 100%;
}

.newstable .title {
    color:red;
}

.newstable .summary {
    color: slategray;
}

.newstable .readmore {
    color:slategray;
}

.news_archive_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid slategray;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 1.3em;
}

.news_author {
    text-align: right;
    font-size: .9em;
    color: rgb(92, 92, 92);
}

.area_side .news_archive_wrapper {
    text-align:left;
}

.area_middle .news_archive_wrapper .field_title {
    display:inline-block;
    padding: 5px;
}

.area_side .news_archive_wrapper .field_title {
    padding: 5px;
    text-align: center;
}

.news_archive_label {
    text-align:center;
}

.area_middle .news_archive_label {
    text-align:left;
    display:inline-block;
    width: 100px;
}

.area_side .news_archive_label {
    display: none;
}


.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

input,
select,
textarea,
button,
a.buttonlike,
div.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 5px solid #DDD;
}

input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

button.alike *:not(svg):nth-child(2),
a *:not(svg):nth-child(2),
button svg + * {
    padding-left: 3px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

input[type=submit]:hover,
input[type=button]:hover,
.buttonlike:hover,
button:hover,
.button:hover {
    cursor: pointer;
    background: rgb(0 0 0 / 10%);
}

input[type=submit]:active,
input[type=button]:active,
.buttonlike:active,
button:active,
.button:active {
    cursor: pointer;
    background: rgb(0 0 0 / 15%);
}

.smallbutton {
    font-size: .9em;
    padding: 3px 6px;
    margin: 2px
}

.smallbutton *:first-child {
    padding: 0px 5px 0 0;
}

button.alike {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: initial;
    box-sizing: content-box;
    font-family: inherit;
    line-height: initial;
    font-size: inherit;
    font-weight: inherit;
    text-align: initial;
    vertical-align: initial;
}

select:disabled {
    background-color: #ebebe4;
    color: #545454
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 8px
}

input[type=checkbox] {
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #d3d3d3;
    border-radius: 26px;
    cursor: pointer;
    height: 28px;
    position: relative;
    transition: border .25s .15s, box-shadow .25s .3s, padding .25s;
    width: 44px;
    vertical-align: top;
    -webkit-appearance: none
}

input[type=checkbox]:after {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 24px;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, .025), 0 1px 4px rgba(0, 0, 0, .15), 0 4px 4px rgba(0, 0, 0, .1);
    content: " ";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    right: 16px;
    top: 0;
    transition: border .25s .15s, left .25s .1s, right .15s .175s
}

input[type=checkbox]:checked {
    border-color: #53d76a;
    box-shadow: inset 0 0 0 13px #53d76a;
    padding-left: 18px;
    transition: border .25s, box-shadow .25s, padding .25s .15s
}

input[type=checkbox]:checked:after {
    border-color: #53d76a;
    left: 16px;
    right: 0;
    transition: border .25s, left .15s .25s, right .25s .175s
}

input[type=image] {
    box-shadow: none
}

@media only screen and (max-width :1550px) {
    .area_middle .html_comments_area {
        float: unset;
        width: 100%;
    }
}

@media only screen and (max-width :640px) {
    .logo_nav #menu-icon {
        display: inline-block !important;
        position: absolute;
        right: 0;
        top: 0;
        max-width: 40px;
        max-height: 40px;
        width: 8%
    }

    .logo_nav #menu-icon:hover {
        cursor: pointer;
    }

    #logosmall+#logo {
        display: none
    }

    #logosmall {
        display: block !important
    }

    .logo_nav #logo {
        float: left !important
    }

    .logo_nav #logo_div {
        padding-bottom: 0px !important
    }

    .nav ul,
    .nav:active ul {
        display: none;
        margin: 0 !important;
        padding: 0 !important;
        background: #fff !important;
        right: 0 !important;
        top: 100px !important;
        width: 100% !important;
        z-index: 99999
    }

    .logo_nav .nav {
        float: none !important
    }

    .nav li {
        text-align: center;
        width: 100%;
        font-weight: bolder;
        font-size: 1.5em
    }

    .nav:hover ul li ul {
        left: initial;
        position: relative !important;
        top: 0 !important;
        font-size: .6rem;
        border: none !important;
        font-weight: initial
    }
}

.accordioncontent .ui-accordion-header {
    background-color: #ccc;
    margin: 0
}

.accordioncontent .ui-accordion-header:hover {
    background-color: #9e9e9e
}

.accordioncontent .ui-accordion-header a {
    color: #fff;
    line-height: 42px;
    display: block;
    font-size: 12pt;
    width: 100%;
    text-indent: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2)
}

.accordioncontent .ui-accordion-content {
    width: 100%;
    background-color: #f3f3f3;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .2), inset 0 -1px 0 0 rgba(0, 0, 0, .4)
}

.accordioncontent .ui-accordion-content>* {
    margin: 0;
    padding: 20px
}

.accordioncontent .ui-accordion-header:hover {
    cursor: pointer
}

.accordioncontent .ui-accordion-header {
    background-color: #ccc;
    padding: 10px
}

.accordioncontent .ui-accordion-header.ui-state-active {
    background-color: #545454;
    color: #fff
}

.accordioncontent .ui-accordion-header:first-of-type a {
    box-shadow: 0 -1px 0 0 #b85c0f
}

.accordioncontent .ui-accordion-content:last-of-type {
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 0 rgba(0, 0, 0, .5)
}

.datatable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: .9em;
    margin-bottom: 15px
}

.datatable td,
.datatable th {
    text-align: center;
    padding: 8px
}

.datatable tr:nth-child(even) {
    background-color: #f2f2f2
}

.datatable tr:hover {
    background-color: #ddd
}

.datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4caf50;
    color: #fff
}

.datatable tbody {
    overflow-y: auto;
    overflow-x: hidden
}

.datatable thead {
    position: sticky;
    top: 0
}

.dotted {
    border-color: buttonface;
    border-style: dotted;
    padding: 10px;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

#cboxLoadingGraphic:before,
.ajaxtabloading:before {
    display: none;
    font: var(--fa-font-solid);
    content: '\f110'; /* fa-spinner */
}

#cboxLoadingGraphic {
    background: none !important;
    background: radial-gradient(circle at 50%, #00000010, 1%, #FFF) !important;
}
#cboxLoadingOverlay {
    background: #00000025 !important;
}

#cboxLoadingGraphic .fa-spinner,
.ajaxtabloading .fa-spinner {
    animation: spinner 2s linear infinite;
    font-size: 10em;
    position: absolute;
    left: calc(50% - .5em);
    top: calc(50% - .5em);
    color: #00000050;
}