:not(ul, ol) {
	padding: 0;
	margin: 0
}

a {
	text-decoration: none;
	cursor: pointer
}

a:hover {
	text-decoration: none
}

a img {
	border: none
}

fieldset {
	border: 0
}

body {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	overflow: auto
}

p {
	margin: 0 0 1em 0
}

table.searchresults {
	border-collapse: collapse;
	font-size: 1em;
}

table.searchresults td {
	padding: 5px;
	border-top: 1px solid #f5f5f5;
}

table.searchresults th {
	padding: 5px;
}

table.searchresults tr.odd {
	background-color: #f3f3f3;
}

table.searchresults tr.even {
	background-color: #fff;
}

table.searchresults tr:hover {
	background-color: #f3f3f3;
}

.calendarpopup {
	position: absolute;
	visibility: hidden;
	background-color: white;
	border:1px solid dimgray;
}

.calendarpop td.calendarpopupday {
	color: black;
	background-color: white;
}

.calendarpop td.calendarpopuppicked {
	color: black;
	background-color: white;
}

.calendarpop td.calendarpopuptoday {
	color: white;
	font-weight: bold;
	border: 1px solid darkred;
	padding: 0px;
	background-color: lightgrey;
}

.adminpanel_links {
	display: block;
	margin: 5px;
}

.html_notfullscreen {
	float: right
}

.html_fullscreen {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vmax;
	z-index: 100;
	margin: 0;
	padding: 20px;
	background: inherit;
	background-color: #fff;
	overflow: visible !important
}

.html_makecomment {
	float: right;
	margin-top: 10px;
}

.html_comment_form {
	padding: 10px;
}

.html_comment_form .title {
	padding-bottom: 10px;
}

.html_replytocomment {
	padding: 5px 0px 20px 0px;
	background: #f3f3f3;
	border-radius: 10px 10px 0px;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

.html_commentinput {
	padding-bottom: 10px;
}

.donation_table {
	font-size: 11px;
	width:100%;
	border-collapse: collapse;
}

.donation_table td {
	padding: 5px;
}

.donation_table th {
	padding: 5px;
}

.donation_table tr:not(:first-child):hover {
	background-color: #e7e7e7 !important;
}

.donation_table tr:nth-child(even) {
	background-color: #f3f3f3;
}

.donation_table tr:nth-child(odd) {
	background-color: #fff;
}

.fs_icon {
	background: url('../images/fullscreen.png');
	height: 20px;
	width: 20px
}

.fs_icon_on {
	background: url('../images/fullscreen_off.png')
}

.themeinput {
	margin: 0
}

.content_links {
	color: brown;
	text-decoration: none
}

.content_links:hover {
	color: #ff0;
	text-decoration: underline;
	cursor: pointer
}

.profile_links {
	color: green;
	text-decoration: none
}

.profile_links:hover {
	color: red;
	text-decoration: none;
	cursor: pointer
}

.imgandlink {
	display: inline-block;
	height: 16px;
	vertical-align: top;
	padding: 3px
}

.error_text {
	font-size: .95em;
	color: darkred;
	text-align: center;
	vertical-align: bottom
}

.debugging {
	background: red;
	padding: 20px;
	text-align: center;
	font-size: 15px;
	white-space: normal;
}

.heading2 {
	font-size: 5em;
	font-weight: 700
}

h1 {
	font-size: 2em
}

.formContainer {
	border: none;
	padding: 5px
}

.rowContainer {
	margin: 10px 0px 5px 0px;
	width: 100%;
	clear: both
}

.rowContainer label {
	color: #758656;
	font-weight: 700
}

.rowContainer .rowTitle {
	display: block;
	width: 100% !important;
	margin-bottom: 5px
}

.rowContainer label.short {
	width: 60px
}

.rowContainer label.sublabel {
	float: left;
	color: #000;
	font-size: .9em
}

.rowContainer input {
	display: block;
}

.rowContainer textarea {
	width: 98%;
}

.rowContainer input.short {
	width: 100px
}

.rowContainer select {
	width: 220px;
	display: block;
}

.rowContainer input.nofloat {
	float: none
}

.rowContainer input.nowidth {
	width: 10px
}

input.error {
	border: 1px solid red
}

label.error {
	font-size: .85em;
	line-height: 1.5em;
	height: 16px;
	float: left;
	background: url('../images/error.png') no-repeat;
	padding-left: 20px;
	margin: 2px 4px;
	white-space: nowrap;
	width: 75%
}

label.errorshort {
	font-size: .85em;
	line-height: 1.5em;
	height: 16px;
	float: left;
	background: url('../images/error.png') no-repeat;
	padding-left: 20px;
	margin-left: 4px;
	white-space: nowrap;
	width: 140px
}

label.valid {
	float: left;
	background: url('../images/checked.gif') no-repeat;
	display: block;
	margin-top: 3px;
	width: 16px;
	padding-left: 10px;
	height: 16px;
	margin-left: -16px
}

.tooltipContainer {
	height: 16px;
	font-size: .85em;
	line-height: 1.5em;
	color: #666;
	visibility: hidden;
	float: none;
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 20px 0 0;
	white-space: normal
}

.info {
	float: left;
	background-image: url('../images/info.gif');
	margin: 2px 4px;
	padding-left: 20px;
	width: initial
}

.infoshort {
	float: left;
	background-image: url('../images/info.gif');
	margin-left: 4px;
	padding-left: 20px;
	width: 140px
}

.rowContainer label :not(.valid) {
	width: 16px
}

.phone1 {
	margin-right: 10px;
}

.phone2 {
	margin-right: 10px;
	margin-left: 10px;
}

.phone3 {
	margin-left: 10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

span.centered_span {
	display: block;
	width: 100%;
	text-align: center
}

td.news_col1 {
	vertical-align: top
}

td.news_col2 {
	vertical-align: top
}

div.full_news_link {
	float: right
}

div.news_item {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	float: left;
	width: 10.5em;
	height: 10em;
	margin: 3px
}

div.full_news_link a {
	font-size: .9em;
	color: #fff;
	text-decoration: none
}

div.full_news_link a:hover {
	cursor: pointer;
	color: #ff0;
	text-decoration: none
}

.newstable {
	width: 100%;
	padding-bottom: 0px
}

img.sitenews {
	width: 22em
}

.eventstable {
	width: 100%;
	padding-bottom: 0px
}

.events_reginfoblock {
	display: inline-block;
	margin: 5px
}

.events_alert {
	font-weight: bolder;
	font-size: 1.2em;
	color: green
}

.events_limit_alert {
	font-weight: bolder;
	font-size: 1.2em;
	color: red
}

.event_title {
	font-size: .95em;
	float: left;
	padding-right: 10px
}

.event_info_box {
	width: 100%;
	vertical-align: middle;
	color: gray;
	position: relative;
	top: -8px
}

.event_info {
	font-size: .85em;
	line-height: 28px;
	vertical-align: top
}

div.html_template {
	width: 500px
}

.html_mini {
	width: 100%;
	max-width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background: #fbfbfb;
	border-radius: 15px;
	padding: 15px;
	line-height: 2em;
}

.html_title {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

.html_text {
	padding: 20px;
}

.html_comments {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.html_comment {
	text-align: right;
	padding: 10px 20px 5px 20px;
	margin-top: 5px;
	background: #f3f3f3;
	border-radius: 10px 10px 0px;
}

.html_comment.childcomment {
	margin-left: 30px;
}

.comment_user {
	font-weight: bold;
}

.comment_time {
	font-style: italic;
	font-size: .8em;
}

.comment_message {
	display: block;
	text-align: left;
	font-style: italic;
	margin: 0px 0px 15px 0px;
}

.comment_buttons, .comment_byline {
	display: flex;
	justify-content: space-between;
}

.comment_deletelink {

}

.comment_editlink {

}

.comment_replylink {

}

.comment_editlink a, .comment_replylink a, .comment_deletelink a {
	text-decoration: none
}

table.roles_table {
	margin-right: auto;
	width: 100%;
	border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
	font-size: .75em
}

tr.roles_header {
	background-color: #5f9ea0;
	color: #fff
}

.roles_table td {
	padding: 2px
}

tr.roles_row1 {
	background-color: azure
}

tr.roles_row2 {
	background-color: #7fffd4
}

div.login_box {
	vertical-align: top;
	font-size: .9em;
	margin-left: 2px;
}

td.field_title {
	font-size: .95em;
	text-align: right;
	vertical-align: middle;
}

td.sub_field_title {
	font-size: .95em;
	text-align: right;
	vertical-align: middle;
	background-color: buttonface;
	padding: 0px 12px;
	border-radius: 12px;
}

td.field_input {
	text-align: left;
	white-space: nowrap;
	font-size: 0.95em;
	padding: 0px 10px;
}

table.login_table {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: .95em
}

span.pagename_header {
	display: block;
	width: 20em;
	padding: 5px;
	text-align: center;
	font-size: .98em
}

a.header_links {
	color: green;
	text-decoration: none
}

a.header_links:hover {
	color: red;
	text-decoration: underline
}

.view-container-border {
	background-color: #fff
}

.smallTablesInFirefox {
	width: 525px
}

.mainTable {
	background-color: #e1e1e1;
	border: 1px solid #999;
	width: 175px
}

.calendar_table,
.calendar_table_Large {
	background-color: #e1e1e1;
	border: 1px solid #999;
	width: 100%;
	border-collapse: collapse;
}

.calendar_table td {
	padding: 8px 5px;
	font-size: 12px;
}

.calendar_table_Large td {
	border: 2px solid #ffffff4d;
	font-size: 1vw;
}

.calendar_month {
	text-align: center;
	background-color: #d5d5d5;
	vertical-align: middle;
	font-size: 14px !important;
	line-height: 15px;
	font-weight: Bold;
	color: #252216;
	padding: 12px !important;
}

.calendar_monthLarge {
	background-color: #d5d5d5;
	vertical-align: middle;
	font-size: 2vw !important;
	font-weight: Bold;
	color: #252216;
	padding: 20px !important;
}

@media screen and (min-width: 1200px) {
	.calendar_monthLarge {
		font-size: 1.75vw;
	}
}

.calendar_month a:hover {
	font-size: 20px;
	font-weight: bolder;
	color: black;
}

.calendar_month a:link,
.calendar_month a:visited,
.calendar_monthLarge a:link,
.calendar_monthLarge a:visited {
	text-decoration: none;
	color: #252216
}

.calendar_change_month {
	width: 40px;
	font-size: 20px;
}

.calendar_corner_day {
	background: #ffffff8a;
	padding: 3px;
	margin: 0 1em 1em 0;
	text-align: center;
	display: inline-flex;
	align-items: center;
	width: 15%;
	font-size: 1.1em;
	justify-content: center;
}

.calendar_change_monthLarge {
	width: 40px;
	font-size: 3vw;
	line-height: 2vw;
}

.calendar_day_names,
.calendar_day_namesLarge {
	color: #333;
	background-color: whitesmoke;
	border: 1px solid lightgray;
}

.calendar_day_names td,
.calendar_day_namesLarge td {
	width: 14.5%;
}

.calendar_day_namesLarge td {
	padding: 10px;
}

.calendar_event_label {
	display: block;
	padding: 0 10px 10px 10px;
	font-size: .85vw;
}

span.calendar_today_label { 
	float: right;
}

.calendar_week {
	font-size: 10px;
	color: #433d27;
	line-height: 15pt;
	text-align: center;
	vertical-align: middle
}

.calendar_week_Large {
	font-size: .8em;
	color: #433d27;
	height: 52pt;
	vertical-align: top;
	text-align: left,
}

.calendar_week td:empty,
.calendar_week_Large td:empty {
	background-color: #EEEEEE !important;
	color: #666666 !important;
}

.calendar_week td:not(:empty):hover,
.calendar_week_Large td:not(:empty):hover {
	background-color: #817e7e59 !important;
	color: #212121 !important;
}

.calendar_week td:first-child,
.calendar_week td:last-child,
.calendar_week_Large td:first-child,
.calendar_week_Large td:last-child {
	background-color: #EEEEEE;
	color: #666666;
}

.calendar_week td:not(:first-child):not(:last-child),
.calendar_week_Large td:not(:first-child):not(:last-child) {
	background-color: #CCCCCC;
	color: #333333;
}

.calendar_today {
	background-color: #FFC18A;
	color: #CF0000;
}

.col1 div#day_info {
	font-size: .9vw;
}

.col2 div#day_info {
	font-size: 1em;
}

.sOther {
	background-color: #eee;
	font-size: 10px;
	color: #bbb
}

.categoryDiv {
	background-color: #fcf5ef;
	padding: 4px;
	border: 1px solid #eaeaea;
	border-bottom: 0 solid #eaeaea
}

.categoryName {
	font-size: 9px;
	font-weight: 700;
	color: #666
}

.categorySelection {
	font-size: 9px;
	font-weight: 400;
	color: #777
}

.popupEventTitle {
	background-color: #cff;
	font-weight: 700;
	padding: 10px;
	border: 1px solid #ccc;
}

.popupEventDescription {
	font-size: 1em;
	line-height: 18px;
	color: #000;
	font-weight: 400;
	background-color: #fff;
	padding: 12px
}

div.footer-text {
	width: 80%;
	text-align: center;
	font-size: .75em;
	margin-left: auto;
	margin-right: auto
}

.colmask {
	clear: both;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: 5px
}

.colleft,
.colmid,
.colright {
	float: left;
	position: relative;
	width: 100%
}

.col1,
.col2,
.col3 {
	float: right;
	padding: 0 2px 0;
	position: relative
}

.rightmenu .colleft {
	right: 25.5%
}

.rightmenu .col1 {
	left: 25.5%;
	width: 76.3%
}

.rightmenu .col2 {
	left: 25.5%;
	width: 22.5%;
	min-width: 160px
}

.logo_nav {
	position: relative
}

div.box_title {
	position: absolute;
	z-index: 1;
	display: inline-block;
	font-size: 12px;
	margin: 0;
	font-weight: 700;
	border: none;
	padding: 0 0 0 10px
}

span.box_title_text {
	padding-left: 4px;
	vertical-align: middle;
	display: inline-block;
}

.pagename_box {
	height: 30px;
	padding: 2px 0 2px 4px;
	font-weight: 700
}

.box_header {
	height: 24px;
	padding: 2px 0 2px 0
}

div.box_content {
	padding: 8px 8px 10px 8px;
	overflow: hidden;
	margin-top: 0;
	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	-khtml-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px
}

.hprcp_head {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border-color: #fcd163 #fcd163 #e1bf48;
	border-style: solid;
	border-width: 1px;
	z-index: -1;
	margin-top: -6px;
	padding-left: 15px;
	padding-top: 10px
}

.hprcp_n .hprcp_e {
	right: -1px;
	top: 26px
}

.hpmb_e,
.hprcp_n .hprcp_e {
	display: block;
	font-size: 0px;
	height: 6px;
	line-height: 0;
	margin: 0;
	position: relative
}

.hpmb_e,
.hprcp_n .hprcp_w {
	display: block;
	font-size: 0px;
	height: 6px;
	line-height: 0;
	margin: 0;
	position: relative
}

.hprcp_n .hprcp_w {
	left: -2px;
	width: 6px
}

.slide_menu {
	position: relative;
	z-index: 2;
	float: right;
	line-height: 1.4em;
	padding: 0 2px !important;
	background-color: #b3b3b3;
	height: 20px
}

.slide_menu_tab {
	caret-color: transparent;
	cursor: pointer;
	display: inline-block;
	width: 15px;
	text-align: center;
	-moz-border-radius: 5px 0px 0px 15px;
	-webkit-border-radius: 5px 0px 0px 15px;
	-khtml-border-radius: 5px 0px 0px 15px;
	border-radius: 5px 0px 0px 15px;
	font-size: 13px
}

.slide_menu_visible {
	padding: 0 4px !important;
	line-height: 18px;
	display: inline-block !important
}

.slide_menu_invisible {
	padding: 0 4px !important;
	line-height: 18px;
	display: none
}

.slide_menu_button {
	position: relative;
	top: -1px;
	padding: 2px 4px;
}

.slide_menu_button img {
	vertical-align: middle;
}

.drop_zone {
	padding: 4px;
	display: none
}

.inner_drop_zone {
	border: 2px dotted red;
	height: 25px;
	margin: 4px 0 4px 0
}

.portable_box {
	overflow: auto;
	border: 2px dotted #00f;
	height: 100px !important;
	width: 100px !important
}

.hint {
	display: none;
	position: absolute;
	font-size: .8em;
	margin-top: 0px;
	margin-left: 10px;
	border: 1px solid #c93;
	padding: 8px;
	white-space: normal;
	background-color: #ffc
}

.hint .hint-pointer {
	position: absolute;
	left: -10px;
	top: 5px;
	width: 10px;
	height: 19px;
	background: url(../images/pointer.gif) left top no-repeat
}

table.pics {
	width: 100%;
	border-style: none;
	border-collapse: collapse
}

tr.pics {
	background-color: #f0f0f0;
	white-space: nowrap
}

tr.pics td {
	background-color: #f0f0f0;
	height: 3.5em;
	white-space: nowrap;
	padding: 2px 2px 2px 20px
}

tr.pics td:hover {
	background-color: #ffc
}

tr.pics_title {
	white-space: nowrap;
	background-color: #e2e2e2
}

tr.pics_title td {
	height: 1.5em;
	white-space: nowrap;
	vertical-align: middle
}

div.wrap {
	display: table
}

div.col {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px
}

tr.pics_title td:hover {
	background-color: #ffc
}

.shadetabs {
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: left
}

.shadetabs li a {
	text-align: center;
	vertical-align: middle;
	height: 40px;
	width: 135px;
	display: inline-block;
	vertical-align: bottom;
	background: #e5e5e5;
}

.shadetabs li a:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.shadetabs li {
	display: inline;
	margin: 0
}

.shadetabs li a:visited {
	color: #2d2b2b
}

.shadetabs li a:hover {
	text-decoration: underline;
	color: #2d2b2b
}

.shadetabs li a.selected {
	position: relative;
	top: 0px;
	border-bottom: #fff;
	padding-bottom: 3px;
	box-shadow: 0em 4px 5px 0px grey;
	background: silver;
}

.shadetabs li a:hover {
	background: #4444446b;
}

.shadetabs li a.notselected {
	position: relative;
	top: 5px;
	background-image: url(../images/shadeactive.gif);
	border-bottom: 1px solid #778;
	padding-bottom: 0px
}

.shadetabs li a.selected:hover {
	text-decoration: none
}

.carousel-cell {
	width: 100%;
	height: 400px;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: center
}

.carouselslides {
	max-width: 100%;
	width: 100vw;
	min-height: 400px;
	height: auto
}

.carouselquotes {
	width: 90%;
	bottom: 20px;
	right: 10px;
	position: absolute;
	text-align: right;
	color: #f5f5f5;
	font-size: 1.5em;
	text-shadow: 2px 3px 5px #000
}

.logo_nav .navtabs li:hover {
	background-color: #2f4f4f
}

.logo_nav #carousel {
	clear: both;
	border: 2px solid #000;
	max-height: 400px;
	overflow: hidden
}

.logo_nav .nav_header {
	background: #fff;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: center
}

.logo_nav #logo_div {
	text-align: center;
	padding: 20px
}

.logo_nav #logo_div a {
	display: inline-block;
	vertical-align: middle
}

.logo_nav #logo {
	float: none;
	max-height: 100px;
	display: block;
	max-width: 85vw;
	font-size: 7vw;
	font-weight: 700
}

.logo_nav #logosmall {
	float: none;
	display: none;
	max-height: 200px
}

.logo_nav .nav {
	font-weight: 700;
	margin: 5px 0;
	text-align: center;
	text-transform: uppercase;
	display: inline-block
}

.logo_nav .navtabs li {
	display: initial;
	margin-bottom: initial
}

.logo_nav #menu-icon {
	width: 40px;
	height: 40px;
	background: center/contain url('../images/menu-icon.png') no-repeat;
	display: none
}

.logo_nav ul {
	list-style: none;
	margin: 0
}

.logo_nav li {
	float: left;
	background-color: grey;
	margin: 0 1px
}

.logo_nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0
}

.logo_nav li {
	color: #fff;
	display: block;
	min-width: 8rem;
	float: left;
	position: relative;
	text-decoration: none;
	transition-duration: .5s
}

.logo_nav .dropdown {
	z-index: 99999
}

.logo_nav li a {
	color: #fff
}

.logo_nav li:focus-within,
.logo_nav li:hover {
	cursor: pointer
}

.logo_nav li:focus-within a {
	outline: 0
}

.logo_nav ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all .5s ease;
	left: 10%;
	display: none;
	white-space: nowrap
}

.logo_nav ul li.sfhover>ul {
	visibility: visible;
	opacity: 1;
	display: block
}

.logo_nav ul li ul li {
	clear: both;
	width: 100%
}

.navtabs a {
	display: block;
	padding: 10px;
	color: #fff;
	border-top: 5px solid grey;
	border-bottom: 1px solid silver
}

.navtabs a.selected {
	border-top: 5px solid #dcdcdc;
	background-color: #a9a9a9
}

.forum_breadcrumb {
	font-weight: 700;
	font-size: .9em;
	color: #069;
	padding: 10px;
	display: inline-block;
}

.forum_inline_buttons {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}

.forum_inline_buttons * {
	display: inline-block;
	vertical-align: middle;
}

.forum_newbutton {
	font-size: .8em;
	float: right;
	margin: 10px;
}

.forum_quote {
	background: #e0e0e0 none repeat scroll 0;
	border: 1px solid #aaa;
	font-size: .9em;
	margin: 4px 6px;
	padding: 4px
}

.forum_discussions {
	border: 1px solid #ccc;
	background-color: #e5e5e5;
	text-align: center;
	border-spacing: 1px;
	width: 100%;
	font-size: .9em
}

.forum_category {
	border: 1px solid #ccc;
	background-color: #e5e5e5;
	text-align: center;
	border-spacing: 1px;
	width: 100%;
	font-size: .9em
}

.forum_headers {
	padding: 5px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #069;
	color: #fff;
	font-weight: 700
}

.forum_author {
	padding: 5px 5px 5px 10px;
	text-align: left;
	background-color: #efefef;
	font-size: .85em;
	color: #069;
	vertical-align: top;
	font-weight: 700;
	border-bottom: 3px solid #ccc;
	border-right: 1px solid #ccc
}

.forum_message {
	padding: 5px 5px 5px 10px;
	background-color: #fff;
	color: #000;
	text-align: left;
	border-bottom: 3px solid #ccc;
	border-right: 1px solid #ccc
}

.forum_bulletin {
	padding: 5px 5px 5px 10px;
	background-color: #fff;
	color: #000;
	font-weight: 700;
	text-align: left
}

.forum_bulletin_viewed {
	padding: 5px 5px 5px 10px;
	background-color: #fff;
	color: #000;
	text-align: left
}

.forum_col1 {
	padding: 10px 5px 5px 10px;
	background-color: #efefef;
	color: #069;
	font-weight: 700;
	text-align: left
}

.forum_col1_viewed {
	padding: 10px 5px 5px 10px;
	background-color: #efefef;
	color: #069;
	text-align: left
}

.forum_col2 {
	padding: 5px;
	background-color: #dee3e7;
	color: #000
}

.forum_col3 {
	padding: 5px;
	background-color: #d1d7dc;
	color: #000
}

.forum_page_links {
	font-size: 10px;
	padding: 15px 10px 5px 10px;
	text-align: right;
}

.forum_post_actions {
	font-size: 10px;
	padding: 10px;
}

.forum_post_message {
	padding: 10px;
	margin: 5px 0px;
}

.shoutbox {
	border: 1px solid #ccc;
	background-color: #e5e5e5;
	text-align: center;
	border-spacing: 0px;
	width: 100%
}

.shoutbox_tableft {
	position: relative;
	top: -1px
}

.shoutbox_tabcenter {
	position: relative;
	top: -1px;
	width: 100px;
	height: 18px
}

.shoutbox_editorpane {
	background-color: #fff;
	border: 1px solid #ccc;
	position: relative;
	width: 99%;
	line-height: 0;
	font-size: 1px;
	overflow: hidden;
	border-collapse: collapse
}

.shoutbox_editortext {
	font-size: .8em
}

.shoutbox_tabtext {
	position: relative;
	top: -23px;
	color: #000;
	z-index: 2
}

.shoutbox_tabright {
	position: relative;
	top: -1px
}

.shoutbox_post {
	font-size: .9em;
	padding: 3px;
	color: #01567d;
	text-align: left
}

*span.pagename_header {
	width: 21em
}

*td.page_contents_middle {
	overflow: hidden;
	max-width: 53em
}

*td.page_contents_side {
	width: 21em
}

*table.box_title_table tr {
	border-style: none;
	padding: 0;
	margin: 0
}

*td.box_title_td2 {
	float: none;
	margin: 1px 1px 1px 1px;
	height: 1em;
	border-style: none;
	border-right-style: none;
	padding: 0
}

*table.modify_tab_table {
	font-size: .01em
}

*span.modify_tab td {
	height: 1em;
	white-space: nowrap;
	padding-bottom: 0px;
	vertical-align: top;
	border-style: none
}

*span.modify_tab {
	position: relative;
	right: -2px;
	vertical-align: top;
	line-height: 0
}

*td.modify_menu_tab {
	position: relative;
	right: -2px;
	background: #8f8f8f
}

.newstable {
	margin-bottom: 8px
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0
}

.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0
}

input,
select,
textarea,
button,
a.buttonlike,
div.button {
	display: inline-block;
	vertical-align: middle;
	padding: 6px 12px;
	font-size: 1em;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

button > span *, .smallbutton * {
	vertical-align: middle;
}

input[type=submit]:hover,
input[type=button]:hover,
.buttonlike:hover,
button:hover,
.button:hover {
	cursor: pointer;
	background: rgb(0 0 0 / 10%);
}

input[type=submit]:active,
input[type=button]:active,
.buttonlike:active,
button:active,
.button:active {
	cursor: pointer;
	background: rgb(0 0 0 / 15%);
}

.smallbutton {
	font-size: .9em;
	padding: 3px 6px;
	margin: 2px
}

select:disabled {
	background-color: #ebebe4;
	color: #545454
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 8px
}

input[type=checkbox] {
	appearance: none;
	background-color: #fafafa;
	border: 1px solid #d3d3d3;
	border-radius: 26px;
	cursor: pointer;
	height: 28px;
	position: relative;
	transition: border .25s .15s, box-shadow .25s .3s, padding .25s;
	width: 44px;
	vertical-align: top;
	-webkit-appearance: none
}

input[type=checkbox]:after {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	border-radius: 24px;
	box-shadow: inset 0 -3px 3px rgba(0, 0, 0, .025), 0 1px 4px rgba(0, 0, 0, .15), 0 4px 4px rgba(0, 0, 0, .1);
	content: " ";
	display: block;
	height: 24px;
	left: 0;
	position: absolute;
	right: 16px;
	top: 0;
	transition: border .25s .15s, left .25s .1s, right .15s .175s
}

input[type=checkbox]:checked {
	border-color: #53d76a;
	box-shadow: inset 0 0 0 13px #53d76a;
	padding-left: 18px;
	transition: border .25s, box-shadow .25s, padding .25s .15s
}

input[type=checkbox]:checked:after {
	border-color: #53d76a;
	left: 16px;
	right: 0;
	transition: border .25s, left .15s .25s, right .25s .175s
}

input[type=image] {
	box-shadow: none
}

@media only screen and (max-width :640px) {
	.logo_nav #menu-icon {
		display: inline-block !important;
		position: absolute;
		right: 0;
		top: 0;
		max-width: 40px;
		max-height: 40px;
		width: 8%
	}

	#logosmall+#logo {
		display: none
	}

	#logosmall {
		display: block !important
	}

	.logo_nav #logo {
		float: left !important
	}

	.logo_nav #logo_div {
		padding-bottom: 0px !important
	}

	.nav ul,
	.nav:active ul {
		display: none;
		margin: 0 !important;
		padding: 0 !important;
		background: #fff !important;
		right: 0 !important;
		top: 100px !important;
		width: 100% !important;
		z-index: 99999
	}

	.logo_nav .nav {
		float: none !important
	}

	.nav li {
		text-align: center;
		width: 100%;
		font-weight: bolder;
		font-size: 1.5em
	}

	.nav:hover ul li ul {
		left: initial;
		position: relative !important;
		top: 0 !important;
		font-size: .6rem;
		border: none !important;
		font-weight: initial
	}
}

#accordion .ui-accordion-header {
	background-color: #ccc;
	margin: 0
}

#accordion .ui-accordion-header:hover {
	background-color: #9e9e9e
}

#accordion .ui-accordion-header a {
	color: #fff;
	line-height: 42px;
	display: block;
	font-size: 12pt;
	width: 100%;
	text-indent: 10px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
	border-right: 1px solid rgba(0, 0, 0, .2);
	border-left: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-top: 1px solid rgba(250, 250, 250, .2)
}

#accordion .ui-accordion-content {
	width: 100%;
	background-color: #f3f3f3;
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .2), inset 0 -1px 0 0 rgba(0, 0, 0, .4)
}

#accordion .ui-accordion-content>* {
	margin: 0;
	padding: 20px
}

#accordion .ui-accordion-header:hover {
	cursor: pointer
}

#accordion .ui-accordion-header {
	background-color: #ccc;
	padding: 10px
}

#accordion .ui-accordion-header.ui-state-active {
	background-color: #545454;
	color: #fff
}

#accordion .ui-accordion-header:first-of-type a {
	box-shadow: 0 -1px 0 0 #b85c0f
}

#accordion .ui-accordion-content:last-of-type {
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 0 rgba(0, 0, 0, .5)
}

.datatable {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	font-size: .9em;
	margin-bottom: 15px
}

.datatable td,
.datatable th {
	text-align: center;
	padding: 8px
}

.datatable tr:nth-child(even) {
	background-color: #f2f2f2
}

.datatable tr:hover {
	background-color: #ddd
}

.datatable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4caf50;
	color: #fff
}

.datatable tbody {
	overflow-y: auto;
	overflow-x: hidden
}

.datatable thead {
	position: sticky;
	top: 0
}

.dotted {
	border-color: buttonface;
	border-style: dotted;
	padding: 10px;
}